{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <br>
    <form method="post" action="/inscription">
        <div id="veliko-bicycle">
            <div class="navbar">
                <div class="logo"><img id="img1" src="/image/img.png"></div>
                <nav>
                    <ul>
                        <li><a href="#" class="active">Page d'accueil</a></li>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="inscription.html.twig">Inscription</a></li>
                    </ul>
                </nav>
            </div>
            <br>
            <header>
                <div class="main-content">
                    <!-- Remove <img> tag here -->
                    <div class="form-container">
                        <h2>Inscription</h2>
                        <form>
                            <input type="text" name="nom" placeholder="Nom*" required>
                            <br>
                            <input type="text" name="prenom" placeholder="Prénom*" required>
                            <input type="email" name="email" placeholder="Email*" required>
                            <input type="password" name="password" placeholder="Mot de passe*" required>
                            <button type="submit">S'inscrire</button>
                        </form>
                        <p>En cliquant sur S'inscrire, vous acceptez nos Conditions générales. <a href="#">Découvrez
                                comment nous recueillons, utilisons et partageons vos données</a> et <a href="#">comment
                                nous utilisons les cookies et autres technologies similaires</a>.</p>
                        <br>
                        <p>Vous recevrez peut-être des notifications par texto de notre part et vous pouvez à tout
                            moment vous désabonner.</p>
                    </div>
                </div>
            </header>
        </div>

    </form>
{% endblock %}